/* Hero Section */
.hero {
  position: relative;
  /* height: 100vh; */
  overflow: hidden;
}

/* .hero-bg {
    position: absolute;
    inset: 0;
    background: linear-gradient(var(--bg-hero-top), var(--bg-skills-top)),
      url("./assets/hero.jpg") center/cover no-repeat;
    z-index: 0;
  } */

.hero-content {
  margin-top: 25vh;
  padding: 10px 15%;

  position: relative;
  z-index: 1;
  color: white;
}
.h1-hero {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
.h2-hero {
  font-size: 2rem;
  text-align: end;
}
i {
  font-size: 5rem;
}
.logo {
  width: 150px;
}
