/* project card  */
.project-card {
  background-color: rgba(143, 190, 180, 0.829);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.747);
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.project-card .card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.project-card video {
  width: 95%;
  height: auto;
  max-height: 230px; /* prevents image from overflowing */
  object-fit: cover; /* so uses whole width */
  margin-top: 20px;

  /* White glow */
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8),
    0 0 15px rgba(255, 255, 255, 0.6), 0 0 25px rgba(255, 255, 255, 0.4);
}

.card-proj-text {
  position: absolute;
  bottom: -100%;
  left: 0%;
  transition: bottom 0.4s ease-in-out;

  width: 100%;
  height: 100%;
  background: rgba(75, 75, 75, 0.914);
  padding: 40px 40px;

  color: #fff;
  font-size: 0.9rem;
}
.project-card:hover .card-proj-text {
  bottom: 0%;
}
