/* PROJECTS SECTION */
.projects {
  /* background: url(../src/assets/background-contact.jpg) center/cover no-repeat; */
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

/* BLUR OVERLAY (BEHIND CONTENT) */
.projects .blur {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(1px);
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.4);
  z-index: 0;
}
