/* SKILLS  */
i {
  font-size: 5rem;
}

.logo {
  width: 150px;
}

/* banner */
.skills {
  /* background: linear-gradient(var(--bg-skills-top), var(--bg-skills-bottom)); */
  /* box-shadow: inset 0 -40px 40px -20px rgba(0, 0, 0, 0.7); */
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden; /* hide scrollbars in the x-axis when screen is smaller*/
}

/* slider */
.skills .carousel {
  position: absolute;
  width: 200px;
  height: 250px;
  /* border: yellow solid; */
  top: calc(50% - 100px);
  /* left: 50% - half width */
  left: calc(50% - 100px);
  /* make childs able to move 3D: */
  transform-style: preserve-3d;
  /* Gives Z-index of 1000px */
  transform: perspective(1000px);
  animation: rotateSlider 20s linear infinite;
}
@keyframes rotateSlider {
  from {
    transform: perspective(550px) rotateY(0deg);
  }
  to {
    transform: perspective(550px) rotateY(360deg);
  }
}

.skills .carousel:hover {
  animation-play-state: paused;
}

/* item */
.skills .carousel .talent {
  background: rgba(255, 255, 255, 0.392);
  width: 150px;
  height: 150px;
  border-radius: 10px;
  padding: 10px;

  /* degrees calculation */
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(var(--position)) translateZ(350px);

  /* center img&i inside the talent div */
  display: flex;
  justify-content: center;
  align-items: center;
}
.talent img {
  display: block; /* removes the small gap below inline images */
  margin: 0 auto; /* centers the image horizontally */
  padding: 1px;
  object-fit: cover; /* scales the image to fit the div */
  object-position: center; /* image centered inside */
  width: 100%;
  height: auto; /* keep aspect ratio width/height */
}
