/* SKILLS  */
i {
  font-size: 5rem;
}

.logo {
  width: 150px;
}

.skills {
  /* background: linear-gradient(var(--bg-skills-top), var(--bg-skills-bottom)); */
  /* box-shadow: inset 0 -40px 40px -20px rgba(0, 0, 0, 0.7); */
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.skills .carousel {
  position: absolute;
  width: 1px;
  height: 30px;
  /* border: yellow solid; */
  top: calc(50% - 100px);
  left: calc(50% - 1px);
  /* make childs able to move 3D: */
  transform-style: preserve-3d;
  /* Gives Z-index of 1000px */
  transform: perspective(600px);
  animation: rotateSlider 20s linear infinite;
}
@keyframes rotateSlider {
  from {
    transform: perspective(600px) rotateY(0deg);
  }
  to {
    transform: perspective(600px) rotateY(360deg);
  }
}

.skills .carousel:hover {
  animation-play-state: paused;
}
.skills .carousel .talent {
  background: rgba(255, 255, 255, 0.392);
  width: 150px;
  height: 150px;
  border-radius: 10px;
  padding: 10px;

  /* degrees calculation */
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(var(--position)) translateZ(250px);

  /* center img&i inside the talent div */
  display: flex;
  justify-content: center;
  align-items: center;
}
.talent img {
  display: block; /* removes the small gap below inline images */
  margin: 0 auto; /* centers the image horizontally */
  padding: 1px;
  object-fit: cover; /* scales the image to fit the div */
  object-position: center; /* image centered inside */
  width: 100%;
  height: auto; /* keep aspect ratio width/height */
}
