* {
  box-sizing: border-box;
  margin: 0;
  font-size: 1.3rem;
  font-family: "Courier New", Courier, monospace;
  --bg-footer-black: rgba(0, 0, 0, 0.863);
  --bg-skills-top: rgb(8, 5, 26);
  --bg-skills-bottom: rgb(13, 62, 107);
  --bg-hero-top: rgba(13, 62, 107, 0.296);
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  /* width: 90%;
  margin: auto; */
  min-height: 100vh;
  /* background: grey; */
}
.section {
  height: 100vh;
  /* border: solid black; */
  scroll-margin-top: 80px;
}
/* SKILLS  */
.skills {
  background: linear-gradient(var(--bg-skills-top), var(--bg-skills-bottom));
  box-shadow: inset 0 -40px 40px -20px rgba(0, 0, 0, 0.7);
}
.skills > * {
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.talent {
  background: rgba(255, 255, 255, 0.392);
  width: 150px;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
}
.talent img {
  display: block; /* removes the small gap below inline images */
  margin: 0 auto; /* centers the image horizontally */
  padding: 1px;
  object-fit: cover; /* scales the image to fit the div */
  object-position: center; /* image centered inside */
  width: 100%;
  height: auto; /* keep aspect ratio width/height */
}
/* NavBar Section */
.navbar {
  position: fixed;
  z-index: 2;
  width: 100%;

  padding: 0.5rem 5rem;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: linear-gradient(
    135deg,
    rgba(3, 29, 38, 0.9) 0%,
    rgba(3, 29, 38, 0.3) 100%
  );
  color: white;
}
.navbar > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
.navbar > div > h1 {
  text-wrap: nowrap;
  font-size: 2rem;
}
.navbar > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
/* Hero Section */
.hero {
  position: relative;
  /* height: 100vh; */
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  background: linear-gradient(var(--bg-hero-top), var(--bg-skills-top)),
    url("./assets/hero.jpg") center/cover no-repeat;
  z-index: 0;
}

.hero-content {
  margin-top: 25vh;
  padding: 10px 15%;

  position: relative;
  z-index: 1;
  color: white;
}
.h1-hero {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
.h2-hero {
  font-size: 2rem;
  text-align: end;
}
i {
  font-size: 5rem;
}
.logo {
  width: 150px;
}
/* Contact  Section */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./assets/background-contact.jpg) no-repeat center/cover;
}
.card-container {
  cursor: pointer;
  perspective: 1000px;
  width: 500px;
  height: 250px;

  border-radius: 20px;
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.616); */
}
.card-contact {
  width: 100%;
  height: 100%;
  /* padding: 2rem; */

  position: relative;
  transition: transform 1.2s;
  transform-style: preserve-3d;

  /* glow border  */
  border-radius: 20px;
  box-shadow: 0 0 20px white; /* Creates a glowing effect */
  border: 4px solid transparent; /* Optional: for smoother glow */

  /* glowing text  */
  color: white; /* Text color */
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white; /* Creates a glowing effect */
}
.card-container:hover .card-contact {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow: hidden;
  border-radius: 20px;

  backdrop-filter: blur(20px);
}
.card-back {
  transform: rotateY(180deg);
}

/* PROJECTS  */
.projects {
  background: url(../src/assets/background-contact.jpg) center/cover no-repeat;
  position: relative;
  text-align: center;
  /* overflow: hidden; */
  /* border: red solid; */
  width: 100%;
  height: 100vh;
}
.projects .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  /* background: yellow; */
  top: calc(50% - 150px);
  left: calc(50% - 100px);
  /* make childs able to move 3D: */
  transform-style: preserve-3d;
  /* Gives Z-index of 1000px */
  transform: perspective(400px);
  animation: rotateSlider 20s linear infinite;
}
@keyframes rotateSlider {
  from {
    transform: perspective(600px) rotateY(0deg);
  }
  to {
    transform: perspective(800px) rotateY(360deg);
  }
}
.projects .slider:hover {
  animation-play-state: paused;
}
.projects .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(var(--position)) translateZ(250px);
}
.projects .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blur {
  backdrop-filter: blur(1px);
  width: 100%;
  height: 100%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
}
.project-card-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 20px;
  padding: 5rem;
}
/* project card  */
.project-card {
  background-color: rgba(192, 192, 145, 0.562);
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.747);
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.project-card > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-proj-text {
  position: absolute;
  bottom: -100%;
  left: 0%;
  transition: bottom 0.4s ease-in-out;

  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.568);
  padding: 20px 10px;
}
.project-card:hover .card-proj-text {
  bottom: 0%;
}
/* FOOTER  */
.footer {
  background: var(--bg-footer-black);
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
}
