* {
  box-sizing: border-box;
  margin: 0;
  font-size: 1.3rem;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  /* width: 90%;
  margin: auto; */
  min-height: 120vh;
  /* background: grey; */
}
.section {
  height: 120vh;
  border: solid black;
  scroll-margin-top: 80px;
}
.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;

  padding: 0.5rem 5rem;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: linear-gradient(
    135deg,
    rgba(3, 29, 38, 0.9) 0%,
    rgba(3, 29, 38, 0.3) 100%
  );
  color: white;
}
.navbar > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
.navbar > div > h1 {
  text-wrap: nowrap;
}
.navbar > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
/* Hero  */
.hero {
  position: relative;
  /* height: 100vh; */
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(106, 104, 104, 0.078), rgba(0, 0, 0, 0.5)),
    url("./assets/hero.jpg") center/cover no-repeat;
  z-index: 0;
}

.hero-content {
  margin-top: 10vh;
  padding: 10px 15%;

  position: relative;
  z-index: 1;
  color: white;
}
.h1-hero {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
.h2-hero {
  font-size: 2rem;
  text-align: end;
}
