* {
  box-sizing: border-box;
  margin: 0;
  font-size: 1.3rem;
  font-family: "Courier New", Courier, monospace;
  --bg-footer-black: rgba(0, 0, 0, 0.863);
  --bg-skills-top: rgb(8, 5, 26);
  --bg-skills-bottom: rgb(13, 62, 107);
  --bg-hero-top: rgba(13, 62, 107, 0.296);
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}

/* .bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  object-fit: cover;
  z-index: -1;
  pointer-events: none;
} */

.wrapper {
  /* width: 90%;
  margin: auto; */
  min-height: 100vh;
}
.section {
  height: 100vh;
  /* border: solid black; */
  scroll-margin-top: 80px;
}

/* FOOTER  */
.footer {
  background: var(--bg-footer-black);
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
  position: relative;
  z-index: 1;
  width: 100%;
  box-shadow: 0 -80px 150px rgba(255, 255, 255, 0.315);
}
